{% import "components/ui/_macro-icon.twig" as icons %}

<footer class="px-6 bg-gray-900 lg:px-8" aria-labelledby="footer-heading">
	<h2 id="footer-heading" class="sr-only">Footer</h2>
	<div class="pt-16 pb-8 mx-auto max-w-screen-2xl sm:pt-24 lg:pt-32">
		<div class="xl:grid xl:grid-cols-3 xl:gap-8">
			<div class="space-y-8">
				<div class="flex items-center space-x-2 text-gray-500">
                    {{ icons.icon('temp-logo', 'w-8 h-8') }}
                    <span>Company Name</span>
                </div>
                <div class="xl:max-w-sm">
                    <p class="text-sm leading-6 text-gray-300">Making the world a better place through constructing elegant hierarchies.</p>
                </div>
				
				<div class="flex space-x-6">
					<a href="#" class="text-gray-500 hover:text-gray-400">
						<span class="sr-only">Facebook</span>
						{{ icons.icon('facebook', 'w-5 h-5') }}
					</a>
					
					<a href="#" class="text-gray-500 hover:text-gray-400">
						<span class="sr-only">Twitter</span>
						{{ icons.icon('twitter', 'w-5 h-5') }}
					</a>

                    <a href="#" class="text-gray-500 hover:text-gray-400">
						<span class="sr-only">Instagram</span>
						{{ icons.icon('instagram', 'w-5 h-5') }}
					</a>

                    <a href="#" class="text-gray-500 hover:text-gray-400">
						<span class="sr-only">YouTube</span>
						{{ icons.icon('youtube', 'w-5 h-5') }}
					</a>
					
				</div>
			</div>
			<div class="grid grid-cols-2 gap-8 mt-16 xl:col-span-2 xl:mt-0">
				<div class="md:grid md:grid-cols-2 md:gap-8">
					<div>
						<h3 class="text-sm font-semibold leading-6 text-white">Solutions</h3>
						<ul role="list" class="mt-6 space-y-4">
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Marketing</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Analytics</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Commerce</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Insights</a>
							</li>
						</ul>
					</div>
					<div class="mt-10 md:mt-0">
						<h3 class="text-sm font-semibold leading-6 text-white">Support</h3>
						<ul role="list" class="mt-6 space-y-4">
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Pricing</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Documentation</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Guides</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">API Status</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="md:grid md:grid-cols-2 md:gap-8">
					<div>
						<h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
						<ul role="list" class="mt-6 space-y-4">
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">About</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Blog</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Jobs</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Press</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Partners</a>
							</li>
						</ul>
					</div>
					<div class="mt-10 md:mt-0">
						<h3 class="text-sm font-semibold leading-6 text-white">Legal</h3>
						<ul role="list" class="mt-6 space-y-4">
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Claim</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Privacy</a>
							</li>
							<li>
								<a href="#" class="text-sm leading-6 text-gray-300 hover:text-white">Terms</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="pt-8 mt-16 border-t border-white/10 sm:mt-20 lg:mt-24">
			<p class="text-xs leading-5 text-gray-400">&copy; 2020 Your Company, Inc. All rights reserved.</p>
		</div>
	</div>
</footer>

