{% macro btnLink(options=[]) %}
    {% import "/templates/components/ui/_macro-icon.twig" as icons %}
    
    {% set options = {
        text: 'Button Text',
        type: 'primary',
        size: 'md',
        icon: null,
        link: null,
    }  | merge(options)  %}

    {% set typeClass = {
        'primary': 'bg-blue-700 border-blue-700 text-white hover:text-white hover:bg-blue-600 hover:border-blue-600 focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700',
        'secondary': 'bg-blue-100 border-blue-200 text-blue-800 hover:border-blue-300 focus:ring focus:ring-blue-300 focus:ring-opacity-25 active:border-blue-200 active:shadow-none',
        'simple': 'bg-white border-gray-200 text-gray-800 hover:border-gray-300 hover:shadow-sm',
    }[options.type] %}

    {% set sizeClass = {
        'sm': 'py-1.5 px-2.5 text-sm',
        'md': 'py-2 px-4 text-sm',
        'lg': 'py-3 px-6 text-base',
    }[options.size] %}

    {# Generate button HTML #}
    <a href="{{ options.link }}" class="{{ typeClass }} {{ sizeClass }} border inline-flex items-center justify-center space-x-2 leading-5 font-semibold rounded-lg">

        <span>{{ options.text }}</span>
        {# Include an optional SVG icon #}
        {% if options.icon is not null %}
            <span class="inline-flex items-center opacity-50">
                {{ icons.icon(options.icon, 'w-5 h-5') }}
            </span>
        {% endif %}
    </a>
{% endmacro %}




